@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

body{
    margin-left: 100px;
    margin-right: 145px;
}

hr{
    padding: 11px;
    color: rgb(234, 233, 233);
}

nav{
    display: flex;
    width: 100%;
    position: relative;
    justify-content: space-between;
    text-align: center;
    padding: 15px 30px;
}

nav .icon{
    font-size: 45px;
    font-weight: 1000;
    color: rgb(15, 15, 15);
    cursor: pointer;
    margin-left: 20px;
    text-shadow: 1px 1px 15px rgb(179, 171, 171);
}

nav ol{
    display: flex;
    list-style: none;
    margin: auto 0;
    padding-right: 0%;
}
nav ol li{
    margin: 0 2px;

}

nav ol li a{
    color: rgb(37, 37, 37);
    font-size: 20px;
    text-decoration: none;
    text-transform: capitalize;
    letter-spacing: 1px;
    padding: 10px 10px;
    padding-left: 35px;
}

nav ol li:hover a{
    background: rgb(244, 244, 244);
    color: black;
    
}

nav .search_box{
    display: flex;
    margin: auto 0;
    height: 35px;
    line-height: 35px;
    
}

nav .search_box input{
    border: none;
    outline: none;
    /* background-color: rgb(242, 242, 242); */
    height: 100%;
    padding: 0 10px;
    font-size: 20px;
    width: 700px;
    border-radius: 50px;
    box-shadow: 1px 0px 8px rgb(154, 154, 154);
    
}

/*  */
/* nav ends */
/*  */

.inspo_order{
    padding-top: 50px;
}

.brands{
    padding-top: 50px;
}

.sample_restaurant{
    padding-top: 50px;
}

h2{
    padding: 20px;
}

.inspo_order table tr th figcaption{
    color: rgb(37, 37, 37);
    font-size: 20px;
    text-decoration: none;
    text-transform: capitalize;
    letter-spacing: 1px;
    padding: 5px 10px;
    
}
.inspo_order table tr th a{
    text-decoration: none;
    
}

.inspo_order table tr th{
    padding: 10px;
}

.brands table tr th figcaption{
    color: rgb(37, 37, 37);
    font-size: 20px;
    text-decoration: none;
    text-transform: capitalize;
    letter-spacing: 1px;
    padding: 5px 10px;
}

.brands table tr th a{
    text-decoration: none;
}

.brands table tr th{
    padding: 10px;
}

.sample_restaurant table tr th figcaption{
    color: rgb(37, 37, 37);
    font-size: 15px;
    text-decoration: none;
    text-transform: capitalize;
    letter-spacing: 1px;
    padding: 5px 10px;
}

.sample_restaurant table tr th a{
    text-decoration: none;
}

.sample_restaurant table tr th{
    padding-top: 10px;
}

.sample_restaurant table tr th{
    padding-left: 30px;
    padding-top: 35px;
       
}

.restaurants table tr th{
    box-shadow: 1px 1px 1px rgb(149, 149, 149); 
    padding-left: 30px;
}

/*  */
/* home ends */
/*  */

